@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('/public/test-domaine-display-bold-italic.woff2');
@import url('/public/test-domaine-display-black-italic.woff2');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fixes Tailwind h-screen on iPhones */
@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

/* Fixes outline style for inputs on Safari */
input:focus { outline: none; }

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

.domaine{
  font-family: "Test Domaine Display";
  font-style: italic;
}

.domaine-bold-italic{
  font-family: "Test Domaine Display";
  font-style: italic;
  font-weight: 800;
}